*{

    margin: 0;
    padding: 0;
}
.fw-bold:hover{
    color: #ffd700;
}
header{
    text-transform: uppercase;
}
.nav-link{
    transition: 0.2s;
}
.nav-link:hover {
   /*text-decoration: underline;*/
   border-bottom: 1px solid black;
}
.nav-link::after {
   content: '';
   height: 1px;
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 0;
 }
 header{
    margin-left: -17.1px;
    padding: 0 17.1px;
 }

.about-image img{
    height: 450px;
    width: 400px;
    overflow: hidden;
 }

 .row{
    display: flex;
    flex-wrap: wrap;
 }
 .container{
    /*background-color: aqua;*/
 }
 .about{

 }
 .about .about-info{
    flex: 0 0 60%;
    max-width: 50%;
 }
 @media only screen and (max-width: 800px) {
   .row .column {
      flex: 50%;
      }
}

@media only screen and (max-width: 400px) {
   .row .column {
      flex: 100%;
      }
}


.image-responsive{
   font-size: 30px;
   align-items: center;
   justify-content: center;
   margin: 5px;
   color: black;
}